{
  "GlobalCurrencyName": "Gems",
  "NewUsersGift": 1000,
  "MessageWelcomeTitle": "YourServerName",
  "MessageWelcomeBody": "Welcome to the server. Here is $Amount Gems in global currency to get started!"
}