{
  "CalorieMultiplierOnMove": 5,
  "CraftingQueueQuantity": 5,
  "MaintenanceDecayPercentage": 5,
  "VehicleMaintenanceDecayPercentage": 10,
  "MaintenanceDecayMultiplier": 1,
  "ToolRepairPenalty": 0.2,
  "RetroactiveExperienceRate": 12,
  "CraftGarbageRatio": 0.08,
  "ShowOilLayer": false,
  "SpecialtyExperiencePerLevelSquared": 25.0,
  "ExperienceGrowthPercentage": 1.05,
  "ExperienceIncreaseAdditive": 5,
  "StarsRequiredPerStage": 8,
  "BasicModuleStarCost": 1,
  "AdvancedModuleStarCost": 1,
  "ModernModuleStarCost": 1,
  "SpecialtyModuleStarCost": 0
}