{
  "RentEnabled": true,
  "VoiceChatEnabled": true,
  "FoodVarietyMultiplierEnabled": true,
  "FoodTastinessMultiplierEnabled": true,
  "PlacementOnSurfaces": true,
  "SettlementEnabled": true,
  "CultureEnabled": true,
  "AllowFaceTrackingOnServer": true,
  "AchievementsEnabled": true,
  "CameraModeEnabled": true,
  "InitialSpawnSelection": true,
  "AllowMultipleTalentPicks": false,
  "ExplosionCanDestroyWorldObjects": true,
  "ExplosionCanDestroyConstructedBlocks": true
}