{
  "MinutesBetweenUpdates": 30.0,
  "CombineInitialSpawnPointsAtPercentOfWorldDistance": 0.1,
  "DisplayOnlySettlements": false,
  "DisplayOnlyAdditionalSpawnPoints": false,
  "AdditionalSpawnPoints": [{
    "Enabled": false,
    "Position": {
      "x": 0,
      "y": 0,
      "z": 0
    },
    "Name": "",
    "Description": "",
    "Color": "FFFFFFFF",
    "Priority": 0
  }]
}
